.boardz {
  display: flex;
  justify-content: space-between;
  flex: auto;
}
.boardz ul {
  list-style-type: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  flex: 1;
}
.boardz ul li {
  margin: 0;
  padding: 5px;
  flex: auto;
}
.boardz ul h1 {
  margin: 0 0 10px 0;
  padding-bottom: 4px;
}
@media screen and (max-width: 800px) {
  .boardz {
      flex-direction: column;
  }
  .boardz ul li:last-child {
      margin-bottom: 0;
  }
  .boardz ul {
      margin: 0;
      padding: 0;
  }
}
.boardz img {
  max-width: 100%;
  height: auto;
}