@charset "UTF-8";
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Rubik.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/Rubik.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Rubik-Bold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/Rubik-Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  line-height: 1.4;
  background-color: #e5e5e5;
  color: black;
  -webkit-overflow-scrolling: touch;
}
body {
  margin: 0;
}
.home_link {
  text-decoration: none;
  font-weight: bold;
}
.container {
  margin-right: auto;
  padding: 0 10rem;
  max-width: 40rem;
}
@media (max-width: 1199px) {
  .container {
    padding: 0 1rem;  
  }
}
main {
  padding: 0 1rem;
  margin-bottom: 3rem;
}
header {
  padding: 1rem 0;
}
header ul {
  list-style: none;
  margin-bottom: 0;
}
header li {
  margin-bottom: 0;
}
header a {
  color: black;
}
header a.active {
  text-decoration: none;
  cursor: default;
}
ul {
  margin: 0;
}
ul li a {
  display: inline-block;
  padding: 0.5rem 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1.45rem;
}
